/* your styles here */
*{
	margin: 0;
	padding: 0;
}

html{
	font-size: 16px;
}

body{
	font-size: 1rem;
	font-family: "Patrick Hand", cursive;
	font-weight: 400;
	font-style: normal;
	min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/ 
}


.page{
	/*max-width: 960px;*/
	margin: 0 auto;	
}

/* header styles */
header{
	text-align: center;
}


/* nav styles */

/* .logo{
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0.5em;
	left: 2em;
} */

nav{
	text-align:center;
	background: #1C4595;
}

ul{
	margin-bottom: 0;
	text-align: right;

}

nav ul li{
	display:block;
	border-bottom: 1px solid #de9700;
	margin-bottom:0;
}

nav a{
	display:block;
	padding: 22px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}

a:hover{
	opacity: 0.5;
}

.main-menu{
	display:none;
}

.mobile-menu ul {
	display:none;
}

.hamburger, .hamburger:hover{
	text-align: right;
	background: #1C4595;
	color: #de9700;
}

/* page style  */

.banner{
	background: url('../img/banner.png') center center;
	height: 384px;
	background-size: cover;
	width:100%;
}

.banner img{
	display: block;
	margin-left: auto;
    margin-right: 0;
	margin-right: 2rem;
	padding-top: 1.5rem;
}

.TopText{
	text-align: center;
}

.TopText img{
	max-width: 28%;
	width: 28%;
}

.section2{
	height: 100vh;
	padding-top: 5rem;
	margin: 0 auto;
	background-color: #FFD7C1;
	display: flex;
	align-items: center;
}

.grid-container {
	display: flex;
	max-width: 100%;
  }

  .grid-container img{
	max-width: 100%;
  }

/* .flexb{
	display: flex;
} */

.with80{
	width: 80%;
	margin: 0 auto;
	margin-bottom: 5rem;
}

.leftbox, .rightbox {
    flex: 1;
	padding: 1rem;
}

.rightbox {
    align-self: flex-end;
	padding-bottom: 10rem;
}

.akira {
    position: relative;
	z-index: 1;
}

.name-akira {
    position: absolute;
    top: 565px;
    left: 740px; /* Adjust as needed */
    z-index: 2;
}

.hukidasi {
    position: absolute;
    top: 500px; /* Adjust as needed */
    left: 650px;
    z-index: 0;
}

.section3{
	height: 100vh;
	background-color: #E76A24;
	display: flex;
   justify-content: center;
   align-items: center;
}

.manga{
	position: relative;
	text-align: center;
	align-items: center;
}

.hukidashi2{
	position: absolute;
    top: 1120px; /* Adjust as needed */
    left: 180px;
    z-index: 0;
}

.hiswork{
	position: absolute;
    top: 1220px;
    left: 270px; /* Adjust as needed */
    z-index: 2;
}

.section4{
	background: url('../img/footer.png') center center;
	height: 300px;
	background-size: cover;
	width: 100%;
	display: flex;
    flex-direction: column;
    align-items: center;
	text-align: center;
}

.talk-on-our-forum{
	text-align: center;
	align-items: center;
	margin-top: 3rem;

}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #FBBC42;
  text-decoration: none;
  padding: 1rem 2rem;
  margin-top: 2rem;
}

.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
  opacity: 0.5;
}

footer{
	position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
	height: 120px;
	background-color: #1C4595;
	width: 100%;
	align-items: end;
}

footer p{
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #fff;
	transform: translateY(120%);
	left: 50%;
}

footer ul{
	display: flex;
	justify-content: flex-end;
}

footer ul li{
	padding: 1rem 1rem;
	list-style: none;
}

footer a{
	color: #fff;
	text-decoration: none;
}

/* ---- */

.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:94%;
    margin:0 auto;
}

.slider img {
    width:60vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height:auto;
}

.slider .slick-slide {
  transform: scale(0.8);/*左右の画像のサイズを80%に*/
  transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
  opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
  transform: scale(1);/*中央の画像のサイズだけ等倍に*/
  opacity: 1;/*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
  margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
  margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}


/*========= レイアウトのためのCSS ===============*/

body{
  background:#eee;
}

h2,p {
    text-align:center;
    padding:20px;
}

ul{
  margin:0;
  padding: 0;
  list-style: none;
}

a{
  color: #333;
}

a:hover,
a:active{
  text-decoration: none;
}



/* ---- */


h1{
	font-family: "saiyan Sans";
	margin: 0;
}

h2{
	color: #de9700;
	text-align: center;
	font-size: 2rem;
	margin: 4em 0 2em 0;
}

.h2title{
	margin-top: 1em;
	margin-bottom: 0;
}

.welcome{
	padding:20px;
	text-align:center;
	font-size: 2rem;
}

.body-text{
	text-align: center;
	padding:20px;
}

.body-text p{
	margin-bottom: 0;
}




/* footer styles */
/* footer{
	height: 100px;
	width: 100%;
	background: #ddd;
	padding-top: 50px;
	position: absolute;
}

 */



/* media query */

/* over 375px : mobile */
@media (min-width: 320px) {

	.photo6{
		width: 100%;
	}

	.photo4,.photo5{
		min-height: 200px;
		background-position: center;
	}

	h2{
		margin-top: 2em;
		margin-bottom: 1em;
	}

}

@media (max-width: 820px) {
	 .grid-container{
		max-width: 100%;
	}
        .hukidasi {
			position: absolute;
			top: 450px;
			z-index: 0;
			text-align: center;
			justify-content: center;
			left: 150px;
		}
		.name-akira{
			left: 250px;
			top:500px;
		}

    
}


/* over 600px : tablet */
@media (min-width: 768px) {

	h2{
		margin-top: 3em;
		margin-bottom: 1em;
	}
		
	.main-menu{
		display: block;
	}
	
	.mobile-menu{
		display: none;
	}
	
	nav ul li{
		display:inline-block;
		border-bottom: 0;
	}

	.location{
		height: 500px;
	}

	.photo4,.photo5{
		min-height: 300px;
	}
}

/* Larger than phablet */
@media (min-width: 900px) {

	
}

/* PC */
@media (min-width: 1200px) {
	

}