body {
    background-color: #FFD7C1;
    height: 100vh;
  }
  .margin0{
    margin-top: 0;
    margin-bottom: 0;
  }

  .marginT23{
    margin-top: 23px;
  }
  
  .title {
    text-align: center;
    font-size: 34px;
  }
  
  .threadWrapper {
    /* background-color: #f3eded; */
    /* padding: 10px; */
    /* max-width: 1300px; */
    margin: 0 auto;
    border: 1px solid black;
    margin-bottom: 20px;
  }
  
  /* .childWrapper {
    border: 1px solid black;
    padding: 10px;
  } */
  
  .threadTitle {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-left: 6px;
    height: 60px;
  }
  
  .threadTitle h1 {
    color: red;
    margin-left: 3px;
    font-size: 27px;
  }
  
  section .nameArea {
    display: flex;
    align-items: center;
    margin-bottom: -14px;
  }
  
  section .username {
    color: #1C4595;
    font-weight: 700;
    margin-bottom: 0;
    text-wrap: wrap;
    width: 100%;
    overflow-wrap: break-word;

  }
  
  section .comment {
    margin-top: 0.5rem;
    text-wrap: wrap;
    width: 100%;
    overflow-wrap: break-word;
  }
  
  .formWrapper {
    padding: 16px;
    margin-left: 20px;
  }
  
  .commentTextArea {
    margin-top: 10px;
    width: 100%;
    height: 90px;
    resize: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  
  .errorMessage {
    color: red;
    margin-left: 70px;
  }
  
  /* 新規スレッド */
  .newThreadWrapper {
    background-color: #b3eeb3;
    padding: 10px;
    max-width: 1300px;
    margin: 0 auto;
    border: 1px solid black;
    margin-bottom: 20px;
  }
  
  .newChildThreadWrapper {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
  }
  
  .newChildThreadWrapper button a {
    width: 150px;
    color: black;
    text-decoration: none;
  }

  .errorMessage{
    color: crimson;
  }

  .rightside{
    max-width: 100% ;
    width: 100%;
    text-align: center;
    height: 100vh;
  }

  .threeboxs{
  border: solid 3px;
  }

input{
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Patrick Hand";
}

.inp-send{
  font-size: 24px;
}

.leftside{
  background-color: #E76A24;
}

.leftside img{
  width: 100%;
}

.w80{
  width: 80%;
  margin: 0 auto;
  padding-top: 3rem;
}

.boxstyle{
  border: 2px solid black;
  background-color: azure;
  margin-top: 1rem;
  box-shadow: 2px 2px 4px rgb(152, 152, 152);
}

.send-b{
  width: 80%;
  margin: 0 auto;
  padding-top: 1rem;
  font-size: 16px;
}

@media (max-width: 568px) {

  .wrapper{
    margin-bottom: 2rem;
  }

  .threadWrapper .w80{
   padding-top: 0;
   text-align: center;
   padding-bottom: 2rem;
  }

  .threadWrapper .leftside img {
    width: 80%;
}

.boxstyle{
    width: 90%;
    margin: 0 auto;
}

.no-img{
  display: none;
}

}
